.full-height {
    height: 100vh!important;
}

.auth-screen {
    background: url("../../public/img/auth/auth-background.webp") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(77, 76, 76, 0.568);
    background-blend-mode: multiply;
}


/* home view */
.home-top-bar {
    width: 100%;
}

.home-text-color-responsive {
    color: black;
}

.theme-text-color-responsive {
    color: white;
}

.home-text-size-responsive {
    font-size: 50px;
}

.home-text-feature-one {
    bottom: 60px;
}



.home-text-feature-two {
    top: 330px;
}

.home-frame-image-position {
    right: 65.1px;
}

.home-no-frame-image-position {
    right: 65.2px;
    top: 17.8px;
}

.theme-text-size-responsive {
    font-size: 40px;
}



@media only screen and (max-width: 1412px) {
    .theme-frame-size-responsive {

        width: 185px!important;
    }

    .theme-image-size-responsive {
        width: 172px!important;
    }

    .theme-less-image-size-responsive {
        width: 178px!important;
    }
}


@media only screen and (max-width: 1178px) {
    .home-text-color-responsive {
        color: white;
    }


    .theme-frame-size-responsive {

        width: 185px!important;
    }

    .theme-image-size-responsive {
        width: 172px!important;
    }

    .theme-less-image-size-responsive {
        width: 178px!important;
    }

    .theme-text-align-responsive {
        text-align: center!important;
    }

    .home-text-feature-one {
        top:270px;
        color: black!important;
    }

    .home-text-align-responsive {
        text-align: center;
    }
    .home-text-size-responsive {
        font-size: 48px;
    }
    .theme-text-size-responsive {
        font-size: 40px;
    }
    .home-top-bar {
        width: auto!important;
    }

    .home-btn-color-responsive {
        background-color: white!important;
    }


    .home-section-one {
        background: url("../../public/img/auth/auth-background.webp") no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: gray!important;
        background-blend-mode: multiply;
    }

    .theme-section-one {
        background: url("../../public/img/auth/auth-background.webp") no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: gray!important;
        background-blend-mode: multiply;
    }
}


@media only screen and (max-width: 768px) {
    .home-text-color-responsive {
        color: white;
    }

    .home-text-size-responsive {
        font-size: 38px;
    }
    .home-top-bar {
        width: auto!important;
    }

    .home-text-align-responsive {
        text-align: left;
    }
    .theme-text-align-responsive {
        text-align: left!important;
    }

    .home-section-one {
        background: url("../../public/img/auth/auth-background.webp") no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: gray!important;
        background-blend-mode: multiply;
    }

    .theme-text-size-responsive {
        font-size: 38px;
    }
}
